build --cxxopt=-std=c++20
build --cxxopt=-Wpedantic
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Wno-gcc-compat
build --linkopt=-ldl

# A configuration running all code using an address sanitizer
# To run, add --config=asan to bazel command.
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
